.devtool {
    position: relative;
    overflow-y: auto;
    height: 100%;
    cursor: default;
    font-family: Consolas, monospace;
    font-size: 12px;
    -webkit-overflow-scrolling: touch;
    background: rgb(30, 30, 30);
    color: #efefef;
    color-scheme: dark;
    --padding: .5rem;
}

.devtool *::selection {
    background: rgb(184, 198, 255);
    color: #000;
}

.devtool,
.devtool * {
    box-sizing: border-box;
}

.devtool a {
    color: rgb(184, 198, 255);
}

.devtoolLogsArea {
    position: relative;
    height: fit-content;
}

.devtoolMeasurementArea {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - var(--padding) * 2);
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
    height: 0;
    overflow-x: hidden;
    /*padding: var(--padding);*/
    height: fit-content;
}

.devtoolLogs {
    padding: var(--padding);
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}